body {
    position: relative;
    background-color: black;
    line-height: 1;
    overflow-x: hidden;
}

.navfont {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.navheads {
    margin-left: 1.5%;
}

.time {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-right: -80px;
}

.timecol {
    padding-right: 0;

}

.nav-link {
    display: inline !important;
    padding: 0;
}

/* mouse over link */

.navfont:hover {
    color: white;
    text-decoration: line-through !important;
    text-decoration-color: red !important;
}

.active, .navfont:hover {
    text-decoration: line-through !important;
    text-decoration-color: red !important;
}

#navbar {
    margin-top: -20px;
}

.arrows {
    height: 140px;
    width: 140px;
    margin-bottom: -2%;
}

.imgtext {
    color: white;

}

.layoutimgs {
    height: 600px;
    width: 600px;
}


.imgmodal {
    width: 800px;
    height: 800px;
    margin-left: -250px;
}

.numbers {
    margin-bottom: -610px;
    margin-left: 40px;
    font-size: 100px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: white;
}

.numbers2 {
    margin-bottom: -610px;
    margin-left: 110px;
    font-size: 100px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: white;
}


.numbercont {
    margin-right: -100px;
}

.carousel img {
    max-height: 600px;
}


.carouselcont {
    display: flex;
}

.carouselcontainer {
    display: flex;
}

.headers {
    vertical-align: baseline;
}

.carousel-indicators {
    margin-left: 15%;
    bottom: -50px;
    padding-bottom: 10px;
}

.imgtextcont {
    margin-top: 1%;
}

.aboutvid {
    height: 400px;
    padding-top: 30px;
}

.aboutfont {
    font-size: 50px;
    color: white;
    font-family: 'MicroExtendFLF';
    font-weight: 900;
    /* text-shadow: 0px 2px, 2px 0px, 3px 2px */

}

.aboutfontside {
    color: white;
    font-size: 20px;
    margin-top: -350px;
    font-family: 'MicroExtendFLF';
    font-weight: bold;
}

.aboutcont {
    position: relative;
    z-index: 9999;
    margin-top: -95px;
}

.aboutvidcont {
    z-index: 1;
    position: relative;
}

.aboutwords {
    color: red;
}


#fly-in {
    color: white;
	font-size: 20px;
	margin-left: 1%;
}
.flyin {
	margin-top: 300px;
}


.motionvids {
    height: 700px;
    width: 700px;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }