@import url(https://fonts.googleapis.com/css?family=avenir);

.navfont {
    color: white;
    font-size: 30px;
}

.time {
    color: white;
    /* font-family: 'avenir'; */
    font-size: 30px;
}

body {
    background-color: black;
}

.nav-link {
    display: inline !important;
    padding: 0;
}

/* mouse over link */

a:hover {
    color: white;
    text-decoration: line-through !important;
    text-decoration-color: red !important;
}

.active, a:hover {
    text-decoration: line-through !important;
    text-decoration-color: red !important;
}